<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Etusivu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}" />
</head>
<body>
<div>
    <h1>Antonin kahvikauppa</h1>
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/coffeemachines">Kahvilaitteet</a></li>
            <li><a href="/consumerproducts">Kulutustuotteet</a></li>
            <li><a href="/products">Tuotteet</a></li>
        </ul>
    </nav>
</div>
<div>
    <p>
        Kahvikauppa tarjoaa korkealaatuisia kahvilaitteita ja kulutustuotteita sekä koti- että ammattikäyttöön.
        Laajasta valikoimastamme löydät monipuoliset tarvikkeet ja lisävarusteet, jotka tekevät kahvihetkistäsi
        täydellisiä.
    </p>
</div>
</body>
</html>